div.postHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.postTitles {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

strong.name {
    font-size: 12pt;
    font-family: sans-serif;
}

small.date {
    color: #919191 ;
}

img.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

div.answer {
    border-top: 1px solid #b4b3b38a;
    align-items: flex-start;
}

div.answerContainer {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    
}

div.answerContent {
    margin-left: 10px;
    background-color: #c2c2c2bd;
    padding: 10px 0px;
    flex: 1;
    padding: 20px;
    border-radius: 5px;
}